<h2 class="page-header"> Search Book </h2>
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="Title">Title</label>
            <input type="text" name="title" id="Title" placeholder="Enter Title Here" value="<%= searchOptions.title %>" >
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="PublishedAfter">Published After</label>
            <input type="date" name="publishedAfter" id="PublishedAfter" placeholder="Enter  Here" value="<%= searchOptions.publishedAfter %>" >
        </div>
  
        <div class="form-item">
            <label for="PublishedBefore">Published Before</label>
            <input type="date" name="publishedBefore" id="PublishedBefore" placeholder="Enter Here" value="<%= searchOptions.publishedBefore %>" >
        </div>
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<br>
<%- include('../partials/bookGrid', { books: books, large: true }) %>