<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- here the link to the files on a CDN codes -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">

        <!-- here the preview css file 's CDN here -->
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

        <!-- here the preview js file 's CDN here -->
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

        <!-- here the file encoded CDN here -->
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>

        <!-- here the image resizing here -->
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

        <!-- here the link to the files on a CDN here -->
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
        
        <!-- here the link to my created js file link  here -->
    <script defer src="/javascripts/fileUpload.js"></script>

    <title>First Web App </title>
</head>
<body>

    <hr><br>
    <%- include ('../partials/header.ejs') %> 
    <%- include ('../partials/errorMessage.ejs') %> 

    <%- body %> 
    <hr><br>

</body>
</html>